<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>MP1 - Inventory System (LAZADA)</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
<!--   <servlet>
  	<servlet-name>LoginController</servlet-name>
  	<servlet-class>lazada.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginController</servlet-name>
  	<url-pattern>/login.auth</url-pattern>
  </servlet-mapping> -->
  <context-param>
    <param-name>storeName</param-name>
    <param-value>R&amp;E Fruits Shop</param-value>
  </context-param>
  <context-param>
    <param-name>storeAddress</param-name>
    <param-value>Legazpi Village, Legazpi Street, Makati City, Philippines 4102</param-value>
  </context-param>
  <context-param>
    <param-name></param-name>
    <param-value></param-value>
  </context-param>
  <context-param>
    <param-name></param-name>
    <param-value></param-value>
  </context-param>
</web-app>